{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hogwarts - Quem somos</title>
    <link rel="stylesheet" href="{% static 'css/quemsomos.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <script src="{% static 'js/nav.js' %}" defer></script>
</head>

<body>
    <img src="{% static 'images/iconbg.png' %}" alt="iconebg" id="iconebg">

    <header id="navbar">
        <div id="logo">
            <img src="{% static 'images/icone.png' %}" alt="icone">
            <h2>Hogwarts</h2>
        </div>
        <nav id="nav">
            <button id="btn-mobile" onclick="toggleMenu()">
                <span id="hamburguer"></span>
            </button>
            <ul id="menu">
                <li><a href="{% url 'index' %}">Início</a></li>
                <li><a href="{% url 'quemsomos' %}">Quem somos</a></li>
                <li><a href="{% url 'nossamissao' %}">Nossa Missão</a></li>
                <li><a href="{% url 'esportes' %}">Esportes</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
            </ul>
        </nav>
    </header>
    <section id="principal">
        <h2>Quem somos</h2>
        <div id="geral">
            <div id="fundaçao">
                <h3>Fundação</h3>
                <p>
                    lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum
                    lore
                    ipsum lore ipsum
                    lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum
                    lore
                    ipsum lore ipsum
                    lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum
                    lore
                    ipsum lore ipsum
                    lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum
                    lore
                    ipsum lore ipsum.
                </p>
            </div>
            <img src="{% static 'images/quemsomos1.png' %}" alt="quemsomos1" id="img1">
            <img src="{% static 'images/quemsomos2.png' %}" alt="quemsomos2" id="img2">
            <div id="origem">
                <h3>Origem</h3>
                <p>
                    lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum
                    lore
                    ipsum lore ipsum
                    lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum
                    lore
                    ipsum lore ipsum
                    lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum
                    lore
                    ipsum lore ipsum
                    lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum lore ipsum
                    lore
                    ipsum lore ipsum.
                </p>
            </div>
        </div>
    </section>
</body>

</html>