*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Montserrat' ;
    src: url(fonte/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'trirong';
    src: url('https://fonts.googleapis.com/css2?family=Trirong:wght@200&display=swap');
}
@font-face {
    font-family: 'ubuntu';
    src: url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
}
body{
    font-family: 'Montserrat';
    font-size: 18px;
    background-color: #f2f2f2;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 62px;
    background: #7290AC;
    display: none;
}
#logo{
    display: flex;
    align-items: center;
}
#logo img{
    width: 69px;
    height: 62px;
}
#logo h2{
    font-size: 29px;
    color: #EBCB25;
    font-family: 'trirong';
    font-weight: 200;
}
#menu{
    display: flex;
    list-style: none;
    margin-right: 30px;
    gap: 30px;
}
#menu a{
    display: block;
    text-decoration: none;
    color: #EBCB25;
    transition: .3s;
}
#menu a:hover{
    color: #af971d;
}
#btn-mobile{
    display: none;
}
@media (max-width: 480px ){
    #barralateral{
        display: none;
    }
    #perfil{
        visibility: hidden;
    }
    #navbar{
        display: flex;
    }
    #menu{
        display:block;
        position: absolute;
        width: 100%;
        top: 62px;
        right: -30px;
        background: #242424cc;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        text-align: center;
        visibility: hidden;
        overflow-y: hidden;
    }
    #logo h2{
        display: none;
    }
    #nav.active #menu{
        height: 50vh;
        visibility: visible;
    }
    #menu a{
        padding: 1rem;
    }
    #btn-mobile{
        display: flex;
        background: none;
        border: none;
        margin-right: 30px;
    }
    #hamburguer{
        display: block;
        width: 20px;
        border-top: 2px solid;
        color: white;
        cursor: pointer;
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        cursor: pointer;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
}
#barralateral{
    background-color: #7290AC;
    width:18%;
    height: 100vh;
    position: static;
    left: 0;
}
#imgbarra{
    margin: 1.063rem 0 2.5rem 3.75rem;
    width: 6.813rem;
    height: 6.375rem;
}
#navdesk{
    margin-left: 4.375rem;
    visibility: hidden;
    transition: .6s;
    height: 0;
    overflow-y: hidden;
}
#navdesk li{
    margin: 10px;
    list-style: none;
}
#navdesk a{
    text-decoration: none;
    color: #D7D5D4;
}
#navdesk a:hover{
    color: #535353;

}
#btn-home{
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 10vh;
    font-family: 'Montserrat';
    font-size: 18px;
    color: #F58E08;
    font-weight: 700;
    margin-left: 15%;
    margin-bottom: -5%;
    cursor: pointer;
}
#drophome.drop #btn-home{
    font-style: italic;
}
#btn-home div{
    width: 70%;
}
#btn-home div img{
    margin-right: 10%; 
}
#setahome{
    transform: rotate(90deg);
    transition: .4s;
}
#drophome.drop #navdesk{
    visibility: visible;
    height: 30vh;
}
#drophome.drop #setahome{
    transform: rotate(0deg);
}
#corpo{
    display: flex;
}
#content{
    width: 100%;
}
#pesquisa{
    width: 100%;
    background-color: #7290AC;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#barra{
    border: 1px solid #D7D5D4;
    border-radius: 30px;
    width: 30%;
    padding: 2px;
}
#barra input{
    border: none;
    background: none;
    width: 90%;
    margin-left: 3%;
}
#barra input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
#barra button{
    border: none;
    background: none;
    cursor: pointer;
}
#btn-sair{
    background: none;
    border: none;
    width: 100%;
}
#btn-sair a{
    text-decoration: none;
    color: #D7D5D4;
    padding: 20px;
}
#btn-sair a img{
    margin-left: .5vw;
}
#board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-top: 3%;
}
.block{
    background-color: #EBCB25;
    color: #f2f2f2;
    text-align: center;
    width: 15%;
    padding: 20px;
    border-radius: 20px;
}
.seçao1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 5px;
}
.seçao2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
    padding: 5px;
}
#insti{
    width: 65%;
    margin-left: 17%;
    margin-top: 5%;
}
#insti h2{
    margin-left: -1%;
    margin-bottom: 4%;
}
footer{
    position: absolute;
    bottom: 0;
    width: 82%;
    text-align: center;
}
@media (max-width:480px){
    #pesquisa{
        display: none;
    }
    footer{
        width: 100%;
    }
    .block{
        width: 30%;
    }
    #board{
        margin-top: 10%;
    }
}