*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Montserrat' ;
    src: url(fonte/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'trirong';
    src: url('https://fonts.googleapis.com/css2?family=Trirong:wght@200&display=swap');
}
body{
    background-image: linear-gradient(to bottom,#EBCB25,#1f1d1dd7);
    background-attachment: fixed;
}
#iconebg{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    height: 540px;
}
#principal{
    margin-top: 30px;
    border-radius: 20px;
    background: #1f1d1dbd;
    color: white;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#principal h2{
    margin-top: 20px;
    margin-left: 60px;
    font-family: 'trirong';
}
#geral{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 50px;
    width: 90%;
    height: 400px;
}
#geral img{
    width: 400px;
    height: 200px;
}
#quadribol{
    width: 400px;
    height: 100px;
    margin-top: -50px;
    margin-left: 10px;
    margin-bottom: 45px;
}
#quadribol p{
    font-size: 12px;
    margin-top: 40px;
}
#jogos{
    width: 400px;
    height: 100px;
    margin-top: -80px;
}
#jogos p{
    margin-top: 40px;
    font-size: 12px;
}
#img2{
    margin-left: 5px;
}
@media (max-width: 480px ){
    #principal{
        width: 90%;
        height: 1000px;
        margin-top: 300px;
    }
    #quadribol{
        margin-top: 20px;
        margin-left: -40px;
        width: 340px;
    }
    #img1{
        margin-left: -40px;
        margin-top: 70px;
        width: 100%;
        height: 200px;
    }
    #img2{
        position: absolute;
        top: 76%;
        left: -10px;
        margin-left: 20px;
        width: 90%;
        height: 200px;
    }
    #jogos{
        margin-top: 50px;
        margin-left: -40px;
        width: 100%;
    }
    #iconebg{
        width: 130px;
        height: 100px;
        position: absolute;
        top: 27%;
        left: 80%;
    }
    #geral img{
    height: 200px;
    }
}

